<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <h4 class="title">Registrate</h4>
      <el-row>
        <el-col :span="12">
          <div class="tips">
            <span>Primer nombre</span>
          </div>
          <el-form-item prop="pnombre">
            <el-input
              v-model="loginForm.pnombre"
              name="pnombre"
              type="text"
              auto-complete="on"
              :placeholder="''"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <div class="tips">
            <span>Segundo nombre</span>
          </div>
          <el-form-item prop="snombre">
            <el-input
              v-model="loginForm.snombre"
              name="snombre"
              type="text"
              auto-complete="on"
              :placeholder="''"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <div class="tips">
            <span>Primer apellido</span>
          </div>
          <el-form-item prop="papellido">
            <el-input
              v-model="loginForm.papellido"
              name="papellido"
              type="text"
              auto-complete="on"
              :placeholder="''"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <div class="tips">
            <span>Segundo apellido</span>
          </div>
          <el-form-item prop="sapellido">
            <el-input
              v-model="loginForm.sapellido"
              name="sapellido"
              type="text"
              auto-complete="on"
              :placeholder="''"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <div class="tips">
        <span>Enfermedades pre-existentes</span>
      </div>
      <el-form-item prop="enfermedades_pre_existentes">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input
          v-model="loginForm.enfermedades_pre_existentes"
          name="enfermedades_pre_existentes"
          type="text"
          auto-complete="on"
          :placeholder="'ej: hipertensión, diabetes, etc,'"
        />
      </el-form-item>
      <div class="tips">
        <span>Antecedentes</span>
      </div>
      <el-form-item prop="antecendentes">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-select v-model="loginForm.antecendentes" multiple collapse-tags placeholder="Select">
          <el-option
            v-for="item in options_antecedentes"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <div class="tips">
        <span>Cedula</span>
      </div>
      <el-form-item prop="cedula">
        <el-input
          v-model="loginForm.cedula"
          name="cedula"
          type="text"
          auto-complete="on"
          :placeholder="''"
        />
      </el-form-item>
      <el-row>
        <el-col :span="12">
          <div class="tips">
            <span>* Edad</span>
          </div>
          <el-input
            v-model="loginForm.edad"
            name="edad"
            type="number"
            auto-complete="on"
            :placeholder="'19'"
          />
        </el-col>

        <el-col :span="12">
          <div class="tips">
            <span>* Sexo</span>
          </div>
          <el-select v-model="loginForm.sexo" placeholder="Select" style>
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-col>
      </el-row>
      <div class="tips">
        <span>Contraseña</span>
      </div>
      <el-form-item prop="password1">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          v-model="loginForm.password1"
          :type="pwdType"
          name="password1"
          auto-complete="on"
          placeholder
          @keyup.enter.native="handleLogin"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>
      <el-form-item>
        <el-button
          :loading="loading"
          type="primary"
          style="width:100%;"
          @click.native.prevent="handleLogin"
        >Crear</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmail } from '@/utils/validate';

export default {
  name: 'Login',
  components: {},
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error('Please enter the correct email'));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 4) {
        callback(new Error('La contraseña debe tener al menos 4 digitos'));
      } else {
        callback();
      }
    };
    const validatePNombre = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Ingrese primer nombre'));
      } else {
        callback();
      }
    };
    const validateSNombre = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Ingrese segundp nombre'));
      } else {
        callback();
      }
    };
    const validatePApellido = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Ingrese primer apellido'));
      } else {
        callback();
      }
    };
    const validateSApellido = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Ingrese segundo apellido'));
      } else {
        callback();
      }
    };
    const validateCedula = (rule, value, callback) => {
      if (value.length < 10) {
        callback(new Error('Ingrese el numero de cedula correcto'));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        cedula: '',
        email: '',
        password1: '',
        pnombre: '',
        snombre: '',
        papellido: '',
        sapellido: '',
        enfermedades_pre_existentes: '',
        antecendentes: '',
        sexo: '',
      },
      loginRules: {
        email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        password1: [
          { required: true, trigger: 'blur', validator: validatePass },
        ],
        pnombre: [
          { required: true, trigger: 'blur', validator: validatePNombre },
        ],
        snombre: [
          { required: true, trigger: 'blur', validator: validateSNombre },
        ],
        papellido: [
          { required: true, trigger: 'blur', validator: validatePApellido },
        ],
        sapellido: [
          { required: true, trigger: 'blur', validator: validateSApellido },
        ],
        cedula: [
          { required: true, trigger: 'blur', validator: validateCedula },
        ],
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined,
      options: [
        {
          value: 'M',
          label: 'Masculino',
        },
        {
          value: 'F',
          label: 'Femenino',
        },
      ],
      options_antecedentes: [
        {
          value: 'ALERGIA ANTIBIOTICO',
          label: 'ALERGIA ANTIBIOTICO',
        },
        {
          value: 'ALERGIA ANESTESIA',
          label: 'ALERGIA ANESTESIA',
        },
        {
          value: 'HEMORRAGIAS',
          label: 'HEMORRAGIAS',
        },
        {
          value: 'VIHSIDA',
          label: 'VIHSIDA',
        },
        {
          value: 'TUBERCULOSIS',
          label: 'TUBERCULOSIS',
        },
        {
          value: 'ASMA',
          label: 'ASMA',
        },
        {
          value: 'DIABETES',
          label: 'DIABETES',
        },
        {
          value: 'HIPERTENSION',
          label: 'HIPERTENSION',
        },
        {
          value: 'ENF. CARDIACA',
          label: 'ENF. CARDIACA',
        },
        {
          value: 'OTRO',
          label: 'OTRO',
        },
      ],
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true,
    },
  },
  methods: {
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = '';
      } else {
        this.pwdType = 'password';
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch('user/create', this.loginForm)
            .then(() => {
              this.$router.push({ path: this.redirect || '/' });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    max-width: 100%;
    padding: 0px 35px 15px 35px;
    margin: 10px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .set-language {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 35px;
  }
}
</style>
