<template>
  <div>
    <div style="line-height:30px;height:30px;">Odontograma</div>
    <div id="svgselect" style="width: 610px; height: 230px;">
      <!-- background-color:red -->
      <svg version="1.1" height="100%" width="100%">
        <g transform="scale(1.5)" id="gmain">
          <g id="P18">
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >18</text>
          </g>
          <g id="P17" transform="translate(25,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >17</text>
          </g>
          <g id="P16" transform="translate(50,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >16</text>
          </g>
          <g id="P15" transform="translate(75,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >15</text>
          </g>
          <g id="P14" transform="translate(100,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >14</text>
          </g>
          <g id="P13" transform="translate(125,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >13</text>
          </g>
          <g id="P12" transform="translate(150,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >12</text>
          </g>
          <g id="P11" transform="translate(175,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >11</text>
          </g>

          <!-- Izquierda segunda fila -->

          <g id="P55" transform="translate(75,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >55</text>
          </g>
          <g id="P54" transform="translate(100,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >54</text>
          </g>
          <g id="P53" transform="translate(125,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >53</text>
          </g>
          <g id="P52" transform="translate(150,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >52</text>
          </g>
          <g id="P51" transform="translate(175,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >51</text>
          </g>

          <!-- Izquierda tercer fila -->

          <g id="P85" transform="translate(75,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >85</text>
          </g>
          <g id="P84" transform="translate(100,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >84</text>
          </g>
          <g id="P83" transform="translate(125,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >83</text>
          </g>
          <g id="P82" transform="translate(150,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >82</text>
          </g>
          <g id="P81" transform="translate(175,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >81</text>
          </g>

          <!-- Izquierda cuarta fila -->

          <g id="P48" transform="translate(0,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >48</text>
          </g>
          <g id="P47" transform="translate(25,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >47</text>
          </g>
          <g id="P46" transform="translate(50,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >46</text>
          </g>
          <g id="P45" transform="translate(75,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >45</text>
          </g>
          <g id="P44" transform="translate(100,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >44</text>
          </g>
          <g id="P43" transform="translate(125,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >43</text>
          </g>
          <g id="P42" transform="translate(150,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >42</text>
          </g>
          <g id="P41" transform="translate(175,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >41</text>
          </g>

          <!-- Derecha primer fila -->

          <g id="P21" transform="translate(210,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >21</text>
          </g>
          <g id="P22" transform="translate(235,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >22</text>
          </g>
          <g id="P23" transform="translate(260,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >23</text>
          </g>
          <g id="P24" transform="translate(285,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >24</text>
          </g>
          <g id="P25" transform="translate(310,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >25</text>
          </g>
          <g id="P26" transform="translate(335,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >26</text>
          </g>
          <g id="P27" transform="translate(360,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >27</text>
          </g>
          <g id="P28" transform="translate(385,0)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >28</text>
          </g>

          <!-- Derecha segunda fila -->

          <g id="P61" transform="translate(210,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >61</text>
          </g>
          <g id="P62" transform="translate(235,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >62</text>
          </g>
          <g id="P63" transform="translate(260,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >63</text>
          </g>
          <g id="P64" transform="translate(285,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >64</text>
          </g>
          <g id="P65" transform="translate(310,40)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >65</text>
          </g>

          <!-- Derecha tercer fila -->

          <g id="P71" transform="translate(210,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >71</text>
          </g>
          <g id="P72" transform="translate(235,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >72</text>
          </g>
          <g id="P73" transform="translate(260,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >73</text>
          </g>
          <g id="P74" transform="translate(285,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >74</text>
          </g>
          <g id="P75" transform="translate(310,80)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >75</text>
          </g>

          <!-- Derecha cuarta fila -->

          <g id="P31" transform="translate(210,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >31</text>
          </g>
          <g id="P32" transform="translate(235,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >32</text>
          </g>
          <g id="P33" transform="translate(260,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >33</text>
          </g>
          <g id="P34" transform="translate(285,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >34</text>
          </g>
          <g id="P35" transform="translate(310,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >35</text>
          </g>
          <g id="P36" transform="translate(335,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >36</text>
          </g>
          <g id="P37" transform="translate(360,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >37</text>
          </g>
          <g id="P38" transform="translate(385,120)">
            <polygon
              points="5,5 	15,5 	15,15 	5,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="C"
              opacity="1"
            />
            <polygon
              points="0,0 	20,0 	15,5 	5,5"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="T"
              opacity="1"
            />
            <polygon
              points="5,15 	15,15 	20,20 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="B"
              opacity="1"
            />
            <polygon
              points="15,5 	20,0 	20,20 	15,15"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="R"
              opacity="1"
            />
            <polygon
              points="0,0 	5,5 	5,15 	0,20"
              fill="white"
              stroke="navy"
              stroke-width="0.5"
              id="L"
              opacity="1"
            />
            <text
              x="6"
              y="30"
              stroke="navy"
              fill="navy"
              stroke-width="0.1"
              style="font-size: 6pt;font-weight:normal"
            >38</text>
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Odontograma',
  props: {},
};
</script>

<style scoped>
</style>
