
<template>
  <div class="mixin-components-container">
    <el-row>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Datos del paciente</span>
        </div>
        <div style="margin-bottom:100px;">
          <el-col :span="11" class="text-center">
            Motivo de la consulta
            <el-input
              v-model="primera_cita.motivo"
              type="textarea"
              :rows="3"
              placeholder="Motivo por el cual el paciente acude a la cita"
            />
          </el-col>
          <el-col :span="2" class="text-center">
            <div>
              <svg-icon icon-class="documentation" />
            </div>
          </el-col>
          <el-col :span="11" class="text-center">
            Dolencias
            <el-input
              v-model="primera_cita.dolencias"
              type="textarea"
              :rows="3"
              placeholder="Descripción de dolencias que padece el paciente"
            />
          </el-col>
        </div>
      </el-card>
    </el-row>
    <!-- signos vitales -->
    <el-row :gutter="5" style="margin-top:20px;">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Signos vitales del paciente</span>
        </div>
        <div style="margin-bottom:100px;">
          <el-col :span="6" class="text-center">
            <el-input
              v-model="primera_cita.presion_arterial"
              :rows="3"
              placeholder="Presion arterial"
            />
          </el-col>
          <el-col :span="6" class="text-center">
            <el-input
              v-model="primera_cita.frecuencia_cardiaca"
              :rows="3"
              placeholder="Frecuencia cardiaca"
            />
          </el-col>
          <el-col :span="6" class="text-center">
            <el-input v-model="primera_cita.temperatura" :rows="3" placeholder="Temperatura" />
          </el-col>
          <el-col :span="6" class="text-center">
            <el-input
              v-model="primera_cita.frecuencia_respiratoria"
              :rows="3"
              placeholder="F. Repitaratoria"
            />
          </el-col>
        </div>
      </el-card>
    </el-row>
    <!-- Examen -->
    <el-row :gutter="5" style="margin-top:20px;">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Signos vitales del paciente</span>
        </div>
        <div style="margin-bottom:100px;">
          <el-col :span="24" class="text-center">
            <el-checkbox-group v-model="primera_cita.checkList_examen">
              <el-checkbox label="LABIOS" border />
              <el-checkbox label="MEJILLAS" border />
              <el-checkbox label="MAXILAR SUPERIOR" border />
              <el-checkbox label="MAXILAR INFERIOR" border />
              <el-checkbox label="LENGUA" border />
              <el-checkbox label="PALADAR" border />
            </el-checkbox-group>
          </el-col>
          <el-col :span="24" class="text-center">
            <el-checkbox-group v-model="primera_cita.checkList_examen">
              <el-checkbox label="PISO" border />
              <el-checkbox label="CARRILLOS" border />
              <el-checkbox label="GLANDULAS SALIVALES" border />
              <el-checkbox label="ORO FARINGE" border />
              <el-checkbox label="A. T. M." border />
              <el-checkbox label="GANGLIOS" border />
            </el-checkbox-group>
          </el-col>
        </div>
      </el-card>
    </el-row>

    <el-row :gutter="5" style="margin-top:20px;">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Odontograma</span>
        </div>
        <div style="margin-bottom:300px;">
          <el-col :span="23" class="text-center">
            <odontograma />
          </el-col>
        </div>
      </el-card>
    </el-row>

    <el-row :gutter="20" style="margin-top:50px;">
      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Material Design Input</span>
          </div>
          <div style="height:100px;">
            <el-form :model="demo" :rules="demoRules">
              <el-form-item prop="title">
                <md-input
                  v-model="demo.title"
                  icon="search"
                  name="title"
                  placeholder="Enter title"
                >Title</md-input>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </el-col>

      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Picture hover effect</span>
          </div>
          <div class="component-item">
            <pan-thumb
              width="100px"
              height="100px"
              image="https://eclectickoifish.files.wordpress.com/2015/01/7826_one_piece.jpg"
            >laravue</pan-thumb>
          </div>
        </el-card>
      </el-col>

      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Ripple wave v-directive</span>
          </div>
          <div class="component-item">
            <el-button v-waves type="primary">Water ripple effect</el-button>
          </div>
        </el-card>
      </el-col>

      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Hover text</span>
          </div>
          <div class="component-item">
            <mallki class-name="mallki-text" text="Laravue Dashboard" />
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import PanThumb from '@/components/PanThumb';
import Odontograma from '@/components/Odontograma';
import MdInput from '@/components/MDinput';
import Mallki from '@/components/TextHoverEffect/Mallki';
import waves from '@/directive/waves/index.js'; // v-wave directive

export default {
  name: 'ComponentMixinDemo',
  components: {
    PanThumb,
    MdInput,
    Mallki,
    Odontograma,
  },
  directives: {
    waves,
  },
  data() {
    const validate = (rule, value, callback) => {
      if (value.length !== 6) {
        callback(new Error('Please enter 6 chars'));
      } else {
        callback();
      }
    };
    return {
      primera_cita: {
        motivo: '',
        presion_arterial: '',
        frecuencia_cardiaca: '',
        temperatura: '',
        frecuencia_respiratoria: '',
        checkList_examen: [],
      },
      demo: {
        title: '',
      },
      demoRules: {
        title: [{ required: true, trigger: 'change', validator: validate }],
      },
      articleList: [
        {
          title: 'Basic article',
          href:
            'https://dev.to/tuandm/laravel--vuejs--laravue---a-beautiful-dashboard-for-laravel-3h11',
        },
        {
          title: 'Login permission',
          href: 'https://doc.laravue.dev/guide/essentials/permission.html',
        },
        {
          title: 'laravue-core',
          href:
            'https://dev.to/tuandm/laravue-core---a-laravel-package-to-build-a-beautiful-dashboard-5aia',
        },
        { title: 'Github', href: 'https://github.com/tuandm/laravue' },
      ],
    };
  },
};
</script>

<style scoped>
.mixin-components-container {
  background-color: #f0f2f5;
  padding: 30px;
  min-height: calc(100vh - 84px);
}
.component-item {
  min-height: 100px;
}
</style>
