<template>
  <div class="mixin-components-container">
    <p class="warn-content">
      {{ $t('guide.description') }}
      <a
        href="https://github.com/kamranahmedse/driver.js"
        target="_blank"
      >driver.js.</a>
    </p>
    <el-button
      icon="el-icon-question"
      type="primary"
      @click.prevent.stop="guide"
    >{{ $t('guide.button') }}</el-button>
  </div>
</template>

<script>
import Driver from 'driver.js'; // import driver.js
import 'driver.js/dist/driver.min.css'; // import driver.js css
import steps from './define-steps';

export default {
  name: 'Guide',
  data() {
    return {
      driver: null,
    };
  },
  mounted() {
    this.driver = new Driver();
  },
  methods: {
    guide() {
      this.driver.defineSteps(steps);
      this.driver.start();
    },
  },
};
</script>
<style scoped>
.mixin-components-container {
  background-color: #f0f2f5;
  padding: 30px;
  min-height: calc(100vh - 84px);
}
.component-item {
  min-height: 100px;
}
</style>
